<h3> View Product Details</h3>
<div>
    <div>
        <label><b> Name: </b></label> {{product.name}}
    </div>
    <div>
        <label><b> Price: </b></label> {{product.price}}
    </div>
    <div>
        <label><b> Stock: </b></label> {{product.stock}}
    </div>
    <div>
        <label><b> Category: </b></label> {{product.category}}
    </div>
    <div>
        <label><b> Description: </b></label> {{product.description}}
    </div>
    <div>
        <label><b> discountedPrice: </b></label> {{product.discountedPrice}}
    </div>
</div>